



<div style="margin-top: 80px;">

    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="ladyproduct.image" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: {{ladyproduct.id}}</div>
                    <h1 class="display-5 fw-bolder">{{ladyproduct.title}}</h1>
                    <div class="card mb-4 border-0">
                        
                      </div>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through"></span>
                        <span>{{ladyproduct.price}}</span>
                    </div>
                    <p class="lead">{{ladyproduct.description}}</p>
                    <div class="d-flex">
                        <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                        <div class="align-items-center justify-content-between d-flex">
                            
                            <!-- <button class="btn border border-dark bg-dark text-white" (click)="addtocart(ladyproduct)">ADD TO CART</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

