.hover-shadow:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
.card-body {
    border-radius: 0.25rem;
}
/* .text-primary {
    color: #ffffff !important;
}
.text-success {
    color: #ffffff !important;
}
.text-warning {
    color: #ffffff !important;
} */
.badge {
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    border-radius: 0.25rem;
}